@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0 5px;
}

.user:hover {
  background-color: rgb(233, 245, 218);
}

.user:active {
  background-color: rgb(174, 238, 173);
}

.dashboard {
  display: grid;
  justify-content: center;
}

button {
  background-color: rgb(188, 220, 231);
  padding: 0.3em 0.5em;
  border-radius: 10px;
  font-size: 1.2em;
  outline: none;
}

button:hover {
  background-color: rgb(208, 238, 248);
}

button:active {
  background-color: rgb(237, 249, 255);
}

button[disabled] {
  background-color: #eee;
}

.statistic {
  background-color: rgb(55, 136, 74);
  color: white;
  padding: 0.3em;
  margin-left: 0.3em;
  border-radius: 10px;
  text-decoration: none !important;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 10px double rgb(172, 195, 172);
  height: 3em;
  display: flex;
  align-items: center;
  padding: 1.5em 1em;
  margin-bottom: 1em;
}

nav > button {
  position: absolute;
  right: 1em;
}

.nav-link {
  margin: 0 1em;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(47, 109, 255);
}

.active > .nav-link {
  text-decoration: underline;
  text-decoration-color: green;
}

.or {
  background-color: white;
  position: absolute;
  bottom: -1.5em;
  text-align: center;
  left: calc(50% - 20px);
  border: 1px solid black;
  padding: 0 0.2em;
  border-radius: 50%;
  z-index: 100;
}

.userList {
  margin: 0;
  padding: 0;
  border: 3px solid teal;
  border-radius: 10px;
  list-style: none;
  cursor:pointer;
  box-shadow: 10px 10px 19px -10px teal;
}

.user-id {
  color: green;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.card {
  border: 1px solid grey;
  box-shadow: 10px 10px 19px -10px rgb(185, 185, 185);
  padding: 1em 2em;
  width: 100%;
  border-radius: 15px;
  margin: 0.5em 0;
}

.card:hover {
  color: blue;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 19px -10px rgb(119, 118, 118);
}

.card__link {
  text-decoration: none;
  color: black;
}

.card__link:hover {
  color: blue;
}

h1,h2,h3,h4,h5,h6, a, button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.card__text {
  color: rgb(79, 95, 79);
}

.card__img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 10px;
}

.form-group {
  display: block;
  padding: 1em 0;
}

.form-group > input[type="radio"]:checked {
  border: 2px solid green;
}

input[type="radio"][disabled][checked] ~ label{
  text-decoration: underline;
  text-decoration-color: blue;
}

.card__header {
  display: inline-block;
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
    height: 150px;
  }
}