@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
* {
  font-family: 'Gochi Hand', cursive;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.user:hover {
  background-color: rgb(233, 245, 218);
}

.user:active {
  background-color: rgb(174, 238, 173);
}